* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    padding: 40px 5%;
    font-family: Nunito, sans-serif;
    background-color: #e07a5f;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.8em;
    color: #1e202d;
}

#startscreen {
    text-align: center;
    padding: 5% 5%;
    width: 33%;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    color: #33354c ;
    padding-bottom: 3.5%;
}
h2 {
    font-weight: 700;
    font-size: 1.4rem;
    color: #33354c ;
}
p {
    padding: 3% 0;
}

.sources {
    font-size: 0.8rem;
    line-height: normal;
}

button {
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #71a88d;
    border-color: #71a88d;
    color: #33354c ;
    margin: 20px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
}

#canvas {
    display: none;
    justify-content: center;
    align-items: center;
    border: 3px solid #33354c ;
    background-color: #f4f1de;
    border-radius: 10px;
    margin: 7% 0;
}

img {
    width: 150px;
}

#gameoverscreen {
    display: none;
    padding: 20% 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
}