* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    padding: 40px 5%;
    font-family: Nunito, sans-serif;
    background-color: #e07a5f;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.5em;
    color: #1e202d;
}

#startscreen {
    text-align: center;
    padding: 5% 5%;
    width: 80%;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    color: #33354c ;
    padding-bottom: 3%;
    line-height: 1em;
}

h2 {
    font-weight: 700;
    font-size: 1.4rem;
    color: #33354c ;
}

.sources {
    font-size: 0.8rem;
    line-height: normal;
}

button {
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #71a88d;
    border-color: #71a88d;
    color: #33354c ;
    margin: 3% 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
}

#canvas {
    width: 90%;
    display: none;
    justify-content: center;
    align-items: center;
    border: 3px solid #33354c ;
    background-color: #f4f1de;
    border-radius: 10px;
    margin: 7% 0;
    max-width: 500px;
}

img {
    width: 150px;
}

#gameoverscreen {
    display: none;
    padding: 5% 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    font-size: 1.5rem;
    padding: 5% 0;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 4%;
    background-color: #f4f1de;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #1e202d;
    padding: 2%;
    margin-top: 4%;
    margin-bottom: 5%;
    font-size: 1.35rem;
    max-width: 450px;
}

.infotext {
    font-size: 1rem;
    font-style: oblique;
    width: 40%;
    display: inline;
    line-height: 1.1rem;
}

.luckyfruit {
    float: right;
    width: 40%;
    width: 150px;
}

